.*
CLAUDE.md
!/.gitignore
!/.github/
!/.pre-commit-config.yaml
VERSION
bin/
build/
src/cpp/generated/
include/
share/
*.bai
*.crai
*.cmix
*.cmfa
*.log
*.egg-info
onp/
figures/
!/docs/figures
outputs/
examples/**/*.png
__pycache__/
site/
etc/
